*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 1000px;
    background: 
url('https://png.pngtree.com/back_origin_pic/05/09/77/2a4e2b1b5e2f24c8c49c9f8671c737d0.jpg');
    background-size: 750px 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
section .leftBox {
    width: 50%;
    height: 1000px;
    float: left;
    padding: 50px;
}
section .leftBox .content {
    color: #fff;
    background:rgba(0, 0, 0, 0.7);
    padding: 40px;
    transition: .5s;
}
section .leftBox .content:hover {
    background: #e91e63;
}
section .leftBox .content h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}
section .leftBox .content p {
    margin: 10px 0 0;
    padding: 0;
}
section .events {
    position: relative;
    width: 50%;
    height: 1000px;
    padding:50px;
    float: right;
    background:rgba(0, 0, 0, 0.5);
}
section .events ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}
section .events ul li {
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
}
section .events ul li .time {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background:#262626;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: .10s;
}
section .events ul li:hover .time {
    background: #1F456E;
}
section .events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    line-height: 30px;
}
section .events ul li .time h2 span {
    font-size: 30px;
}
section .events ul li .details {
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}
section .events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
section .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
section .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 18px;
    transition: .5s;
}
section .events ul li .details a:hover {
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}



